<!-- TODO: Wyjebac logo z góry strony i dać na mobile menu -->
<div class="position-fixed text-uppercase d-xl-none mobile-navigation" role="navigation" data-no-turbolink="true" aria-label="<%= Spree.t('nav_bar.mobile') %>">
  <div class="container d-flex align-items-center justify-content-between header-spree" data-hook>
    <button class="m-0 p-0" id="mobile-navigation-back-button" aria-label="<%= Spree.t('nav_bar.go_to_previous_menu') %>">
      <%= icon(name: 'arrow-right',
               classes: 'd-inline spree-icon-arrow spree-icon-arrow-left',
               width: 26,
               height: 26) %>
    </button>
    <div id="top-nav-bar-mobile" class="m-0 p-0 header-spree-fluid-secondary-navigation" data-hook>
      <button id="mobile-navigation-close-button" aria-label="<%= Spree.t(:close) %>">
        <%= icon(name: 'close',
                 classes: 'd-inline',
                 width: 26,
                 height: 26) %>
      </button>
    </div>
  </div>

  <ul class="list-unstyled position-relative h-100 mobile-navigation-list">
      <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
        <a class="mobile-menu-element" href="https://www.metaframe.me/products/metaframe#metaframe-preorder">Pre-order</a>
      </li>
      <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
        <a class="mobile-menu-element" href="https://www.metaframe.me/faq">FAQ</a>
      </li>
      <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
        <a class="mobile-menu-element" href="https://www.metaframe.me/contact">Contact</a>
      </li>
      <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
        <a class="mobile-menu-element" href="https://www.metaframe.me/about">About us</a>
      </li>
      <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
        <a class="mobile-menu-element" href="https://www.metaframe.me/cart">Cart</a>
      </li>
  </ul>

  <style>
    .mobile-menu-element {
      color: white;
      text-decoration: none;
    }

    .mobile-menu-element:visited {
      color: white;
      text-decoration: none;
    }


    .mobile-menu-element:hover {
      color: white;
      text-decoration: underline;
    }

    .mobile-menu-element:active {
      color: white;
      text-decoration: none;
    }
  </style>
